.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff7e8;
}

.today {
  font-size: 48px;
  color: #4f351c;
}

.subtitle {
  font-size: 22px;
  color: #4f351c;
  margin-bottom: 16px;
}

.add-btn {
  background-color: #4f351c;
  color: #cfab71;
  font-size: 42px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: 20px;
}

