.container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff7e8;
    padding: 12px;
}

.back-btn {
    width: 90px;
    height: 36px;
    background-color: #cfab71;
    color: #4f351c;
    font-size: 16px;
    border-radius: 18px;
    margin: 25px;
}

.title {
    font-size: 22px;
    color: #4f351c;
    margin-bottom: 12px;
}

.caffeine-btn {
    width: 60%;
    height: 40px;
    background-color: #4f351c;
    color: #cfab71;
    margin: 4px;
    font-size: 18px;
    border-radius: 20px;
}

.custom-btn {
    width: 30%;
    height: 60px;
    background-color: #713105;
    color: #fff7e8;
    margin: 4px;
    font-size: 18px;
    border-radius: 30px;
}