.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff7e8;
    padding: 12px;
}

.back-btn {
    width: 90px;
    height: 36px;
    background-color: #cfab71;
    color: #4f351c;
    font-size: 16px;
    border-radius: 18px;
    margin: 25px;
}

.title {
    font-size: 22px;
    color: #4f351c;
    margin-bottom: 12px;
    margin-top: 10px;
}

.adjust-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    height: 70px;
}

.adjust-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #713105;
    color: #fff7e8;
    font-size: 18px;
    border-radius: 35px;
    margin: 0 15px;
}

.caffeine-text {
    font-size: 32px;
    color: #4f351c;
    text-align: center;
    margin: 25px;
}

.add-btn {
    width: 40%;
    height: 40px;
    background-color: #4f351c;
    color: #cfab71;
    font-size: 22px;
    border-radius: 20px;
    margin: 40px;
}
